**/build
**/bin
.gradle
*/.gradle
**/build.properties
**/.classpath
**/.project
**/.settings
**/.idea
**/*.iml
**/generated
**/*.so
**/*.obp
modules.xml
**/.DS_Store
crd-language/tmp
**/*.aux
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.out
**/*.pdf
crd-repo
crd-build
repository
crd-interpreter/out
crd-language/out
